<h1>WayveScenes101 Benchmark Challenge</h1>

The WayveScenes101 Benchmark is designed for evaluating the quality of novel scene synthesis models for autonomous driving scenes.


<h2>Dataset</h2>

For a general introduction on the dataset, please refer to the <a href="https://wayve.ai/science/WayveScenes101/">dataset page</a>.


<h2>Getting Started</h2>

For instructions on how to get started with the dataset, please refer to the <a href="https://github.com/wayveai/wayve_scenes">GitHub repository</a>.

