<h1>"Wayve Scene Reconstruction Benchmark"</p>

<p>The Wayve Scene Reconstruction Benchmark is a dataset and benchmark for evaluating the performance of scene reconstruction algorithms for autonomous driving scenes.</p>


<h2>Dataset</h2>

For instructions on how to download the dataset, please refer to the [dataset page](https://www.wayve.ai/benchmark).

The dataset features a variety of scenes, including urban, highway, and residential environments. For each scene, we offer 2 training cam sequences and 1 test cam sequence. 
Each cam sequence consists of a series of images and corresponding camera poses. The dataset also includes ground truth 3D point clouds and camera poses for each scene.


<h3>Challenge Participation</h3>


