<h1>Wayve Scene Reconstruction Benchmark</h1>

The Wayve Scene Reconstruction Benchmark is a dataset and benchmark for evaluating the performance of scene reconstruction algorithms for autonomous driving scenes.


<h2>Dataset</h2>

For instructions on how to download the dataset, please refer to the <a href="https://wayve.ai/science/">dataset page</a>.

The dataset features a variety of scenes, including urban, highway, and residential environments. For each scene, we offer 2 training cam sequences and 1 test cam sequence. 
Each cam sequence consists of a series of images and corresponding camera poses. The dataset also includes ground truth 3D point clouds and camera poses for each scene.


<h2>Getting Started</h2>

For instructions on how to get started with the dataset, please refer to the <a href="https://wayve.ai/science/">dataset page</a>.


<h3>Challenge Participation</h3>

For instructions on how to participate in the challenge, please refer to the <a href="https://wayve.ai/science/">dataset page</a>.
